*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Helvetica, sans-serif;
    background-color: rgb(234, 239, 248);
}

h1, h2{
    text-align: center;
    margin: 10px;
}

h1{
     font-family: 'Syne Tactile', cursive;
     color: red;
     font-size: 40px;
}
#conteiner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    color: rgba(252, 252, 252, 0);
    
}


#conteiner .texto .controles {
    font-size: 20px;
    width: 300px;
    color: rgb(67, 67, 170);
    margin: 20px 20px 10px 20px;
}

#areaCanvas{
    background-color: rgb(160, 46, 46);
    border: 5px solid gray;
}


#conteiner .texto .creditos {
    font-size: 16px;
    width: 300px;
    margin: 10px 20px;
}

#conteiner .texto .creditos a, .pageCredLink {
    color: rgb(143, 14, 14);
    text-decoration: none;
}
#conteiner .texto .creditos a:hover, .pageCredLink:hover{
    text-decoration: underline;
}

.pageCred{
    text-align: center;
    margin: 20px;
    font-size: 20px;
}
 